body {
		background: rgb(197,204,211); 
}
.card1, .card2, .card3 {
    background-color: #376daa;
    text-align: center;
    color: #204167;
    text-shadow: #3F80CA 0 1px 0;
    font-size: 1.5em;
      padding-top: 100px;
}
